# 파이썬 라이브러리 사용
* pip install numpy
* inport numpy as np
* numpy의 속성 및 메소드 사용법 : 점표기법
    * np.메서드()
    * np.속성

In [1]:
import numpy as np # 다차원 행렬 연산
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [2]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [3]:
data= []
for i in range(7):
    data.append(np.random.standard_normal())
print(data)

[0.2817461528302025, 0.7690225676118387, 1.2464347363862822, 1.0071893575830049, -1.2962211091122635, 0.274991633432124, 0.22891287893531592]

In [4]:
a = [1, 2, 3]

In [5]:
b = a
b

[1, 2, 3]

In [6]:
a.append(4)
b

[1, 2, 3, 4]

# 3 사용자 정의 함수 & 호출

In [7]:
# define function
def append_element(some_list, element):
    some_list.append(element)
# call fuction
data = [1,2,3]
element = 4
append_element(data, element)
data

[1, 2, 3, 4]

In [8]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

# 4. 내장형 함수(type)

In [8]:
a = 5
type(a)
a = "foo"
type(a)

# 형 변환
    #int()
    #float()
    #boll()

In [ ]:
"5" + 5 # 자동변환 불가능

In [10]:
# 숫자 간의 형변환 
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

# 6. 내장 함수 : isinstance()

In [8]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [11]:
a = 5
isinstance(a, int)

In [12]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

In [13]:
a = "foo"

In [14]:
getattr(a, "split")

In [15]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [4]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

NameError: name 'isiterable' is not defined

In [17]:
5 - 7
12 + 21.5
5 <= 2

# 7. 예약어:
    # is
    # is not

In [12]:
a = [1, 2, 3]
b = a
c = list(a) # 새로운 리스트 객체
a is b
a is c
a is not c

True

In [13]:
a == c # 객체의 내용을 비교

True

# 8. None 객체
*null 의미

In [15]:
a = None
a is None

True

# 9. 순차 자료형: list, tuple, str
## 1. list
* [], list() // 데이터 생성
* 수정, 삭제, 추사 연산 가능 : mutable type
* append(), pop(), remove(), insert()
* 참조 : 인덱싱 - 리스트 변수명[정수]
* 추출 : 슬라이싱 - 리스트 변수[start:end:step]
* 연산자
    * 리스트 + 리스트 -> 리스트
    * 리스트 + 정수 -> 리스트를 정수 만틈 복사해서 새로운 리스트를 생성
* 메소드
  * 리스트.count()

  
## 2. tuple
* (), tuple() // 데이터 생성
* 수정, 삭제, 추사 연산 불가능 : immutable type
* 참조 : 인덱싱 - 리스트 변수명[정수]
* 추출 : 슬라이싱 - 리스트 변수[start:end:step]
* 연산자
    * 튜플 + 튜플 -> 튜플
    * 튜플 + 정수 -> 리스트를 정수 만틈 복사해서 새로운 리스트를 생성
      

## 2. tuple
* "", str() // 데이터 생성
* 수정, 삭제, 추사 연산 불가능 : immutable type
* 참조 : 인덱싱 - 리스트 변수명[정수]
* 추출 : 슬라이싱 - 리스트 변수[start:end:step]
* 연산자
    * 문자열 + 문자열 -> 문자열
    * 문자열 + 정수 -> 리스트를 정수 만틈 복사해서 새로운 리스트를 생성

In [21]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [22]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

In [27]:
c = """
This is a longer string that
spans multiple lines
"""

In [28]:
c.count("\n")

In [5]:
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [24]:
b = a.replace("string", "longer string")
b
a is b

False

In [31]:
a

In [32]:
a = 5.6
s = str(a)
print(s)

In [33]:
s = "python"
list(s)
s[:3]

In [34]:
s = "12\\34"
print(s)

In [35]:
s = r"this\has\no\special\characters"
s

In [36]:
a = "this is the first half "
b = "and this is the second half"
a + b

In [37]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [38]:
template.format(88.46, "Argentine Pesos", 1)

In [39]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

## 문자열 <-> 바이트 인코딩& 디코딩
* encoding
* decoding

In [40]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

In [41]:
val = "español"
val

In [42]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

In [43]:
val_utf8.decode("utf-8")

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

In [45]:
True and True
False or True

In [46]:
int(False)
int(True)

In [47]:
a = True
b = False
not a
not b

In [48]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

In [49]:
a = None
a is None
b = 5
b is not None

# 11. 시계열 데이터 처리
* 시간, 날짜: datetime 객체
* 시간 기간 : datetime.time deta

In [50]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

In [51]:
dt.date()
dt.time()

In [52]:
dt.strftime("%Y-%m-%d %H:%M")

In [53]:
datetime.strptime("20091031", "%Y%m%d")

In [54]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

In [55]:
dt

In [56]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

In [57]:
dt
dt + delta

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [59]:
4 > 3 > 2 > 1

# 12.

In [9]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [10]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [12]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [64]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)